// $headfoot-linkcolor: #999;
// $headfoot-color: #999;
// $bg-color: #fff5e6;

// $main-linkcolor: DarkCyan;
// $contact-highlight-color: #00e5e5;
// $paper-highlight-color: #00e5e5;

$headfoot-linkcolor: #05386b;
$headfoot-color: #05386b;
$head-bg-color: LightCyan;
$bg-color: #f0f0ff;

$main-linkcolor: #2c55c9;
$contact-highlight-color: #97caef;
$paper-highlight-color: #97caef;

$nav-padding-size: 0.75em;
$nav-spacer-size:	$nav-padding-size * 2 + 1em;
