<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Emerson G. Escolar</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <nav>
      <ul>
	<li><a href="index.html">Home</a></li>
	<!-- <li><a href="research.html">Research</a></li> -->
	<li><a href="research_lists.html">Papers, etc.</a></li>
	<li><a href="teaching.html">Teaching</a></li>
	<li><a href="software.html">Software</a></li>
	<!-- <li><a href="cv.html">CV</a></li> -->
      </ul>
    </nav>
    <a id="pagetop"></a>
    <div class="navspacer"></div>


    <h1>Emerson G. Escolar</h1>		
    
    {{ content }} 
    
    <footer>
      <hr class="outer" />
      <ul>
	<li><a href="#pagetop">Back to Top</a></li>
        <li>Last Updated: {{ site.time }}</li>
	<li><a href="index.html#contact">Contact</a></li>
      </ul>
    </footer>
    
  </body>
</html>
